<div class="shadow-sm p-1">
    <div class="bg-dark p-1">
        <div class="bg-light">
            <div>
                <span class="bg-dark">ABC</span>
                <span class="bg-light"> To: {{ letter.recipient }} </span>
                <span></span>
            </div>
            <div>
                {{ letter.message }}
            </div>
            <div>
                <span>Send</span>
                <span>#unsintproject</span>
                <span>Back</span>
            </div>
        </div>
    </div>
</div>

<br/>