{% extends 'base.html' %}
{% block content %}

    <div class="d-flex align-items-center justify-content-center mt-5 mb-5">
        <h1 class="title p-5" id="title"></h1>
    </div>

    <div class="mb-5">
        <p class="fs-5 text-center">A COLLECTION OF UNSENT TEXT MESSAGES TO FIRST LOVES</p>
        <p class="px-5 text-center py-3 my-2" style="font-family: 'Roboto'; font-size: 0.9rem;">
            Welcome to The Unsint Project, a replication inspired by the impactful 'The Unsent Project.'
            Our project pays homage to the original platform's concept, which offers a space for individuals to share
            their unexpressed thoughts and emotions. Created for educational purposes, our endeavor seeks to
            mirror the essence and functionality of 'The Unsent Project' as part of an academic exploration into
            emotional expression and web development. Applying the knowledge gained from our discrete structure (CCS40)
            Python class, we have diligently worked to recreate the platform's structure and functionalities. We aim to
            honor the significance of articulating unsaid feelings through written words, providing a safe and cathartic
            outlet for individuals to share their sentiments anonymously. While our project is a clone, it is our
            dedication to educational pursuits and our respect for the original creator's vision that motivates us in
            this endeavor.
        </p>
    </div>

    <script src="https://unpkg.com/typed.js@2.0.16/dist/typed.umd.js"></script>
    <script>
        var typed = new Typed('#title', {
            strings: ['THE UNSINT PROJECT', ' '],
            typeSpeed: 80,
            backSpeed: 80,
            loop: true,
        });
    </script>

{% endblock %}