<footer class="bg-body-tertiary text-center text-lg-start">
  <div class="container p-4">
    <div class="row">
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase">The Unsint Project Clone</h5>
        <p>
          This website is a clone of 'TheUnsentProject.com' and is used solely for educational purposes.
        </p>
      </div>
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase">Made by <span style="color: purple;">BTS</span> of BSCS 2-A</h5>
        <p>
          Developed by:
            <strong>Alfonso</strong>, Aljunalei - <strong>Cruz</strong>, Jansen - <strong>Laylo</strong>, Wrenz Ivan
        </p>
      </div>
    </div>
  </div>
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2023 Copyright:
    <a class="text-body" href="https://theunsentproject.com/">The Unsent Project</a>
  </div>
</footer>