{% extends 'base.html' %}

{% block content %}

{% if user.is_authenticated %}

    <table class="table table-striped table-hover table-bordered">
        <thead class="table-dark">
            <tr>
              <th scope="col">Recipient</th>
              <th scope="col">Message</th>
              <th scope="col">Letter Color</th>
              <th scope="col">Is Visible</th>
              <th scope="col">Id</th>
            </tr>
        </thead>
        <tbody>

                {% if letters %}
                    {% for letter in letters %}
                        <tr>
                            <td>{{ letter.recipient }}</td>
                            <td>{{ letter.message }}</td>
                            <td>{{ letter.letter_color }}</td>
                            <td>{{ letter.is_visible }}</td>
                            <td><a href="{% url 'letter' letter.id %}">{{ letter.id }}</a></td>
                        </tr>
                    {% endfor %}
                {% endif %}

        </tbody>
    </table>

{% else %}

        <div class="col-md-6 offset-md-3">
            <h1>Login</h1>
            <br>

            <form method="POST" action="{% url 'home' %}">
                {% csrf_token %}
                <div class="mb-3">
                <label class="form-label">Username</label>
                <input type="text" class="form-control" name="username"
                    placeholder="Username" required>
                </div>
                <div class="mb-3">
                <label class="form-label">Password</label>
                <input type="password" class="form-control" name="password"
                    placeholder="Password" required>
                </div>
                <br>
                <button type="submit" class="btn btn-secondary">Login</button>
            </form>

        </div>

    {% endif %}

    {% endblock %}
