{% extends 'base.html' %}
{% block content %}

<div class="d-flex justify-content-center">
    <div class="col-lg-4 col-md-6 col-sm-12 custom-left custom-sm-center">
        {% include '_partial_letter.html' with message=letter %}
    </div>
</div>

<br/>
<a href="{% url 'home' %}" class="btn btn-secondary">Back</a>
<a href="{% url 'delete_letter' letter.id %}" class="btn btn-danger">Delete Letter</a>
<a href="{% url 'update_letter' letter.id %}" class="btn btn-primary">Update Letter</a>

{% endblock %}