{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-white">
  <div class="container-fluid mt-4">
    <a class="navbar-brand position-absolute mt-4 top-0 start-1" href="{% url 'home' %}">
      <img src="{% static 'Logo.png' %}" style="margin-left: 15px; margin-top: -10px;" width="50px" height="50px"></a>
    <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse nav-center" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-auto d-flex justify-content-between">
        {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link nav-style" href="{% url 'home' %}">ARCHIVE</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-style" href="{% url 'mailbox' %}">MAILBOX</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-style" href="{% url 'profile' %}">PROFILE</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-style" href="{% url 'about' %}">ABOUT</a>
          </li>
          <li class="nav-item" >
              <a class="nav-link nav-style" style="cursor: pointer;" data-bs-toggle="modal"
                 data-bs-target="#staticBackdropLogout">LOG OUT</a>
          </li>
        </ul>
          <button class="btn {% if notifications %}btn-dark{% else %}btn-white{% endif %} nav-notif py-2 px-3"
                  type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
              <i class="fa-solid fa-bell"></i>
          </button>
            <a class="btn btn-dark nav-style py-2 px-3 nav-btn" href="{% url 'add_letter' %}">SUBMIT</a>

        {% else %}
          <li class="nav-item">
            <a class="nav-link nav-style" href="{% url 'home' %}">ARCHIVE</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-style" href="{% url 'about' %}">ABOUT</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-style" href="{% url 'login_user' %}">LOGIN</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-style" href="{% url 'register' %}">REGISTER</a>
          </li>
        </ul>
          <a class="btn btn-dark nav-style py-2 px-3 nav-btn" href="{% url 'add_letter' %}">SUBMIT</a>
        {% endif %}
    </div>
  </div>
</nav>

<div class="modal fade" id="staticBackdropLogout" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Log out</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure to log out?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <a href="{% url 'logout' %}" class="btn btn-danger">Log out</a>
      </div>
    </div>
  </div>
</div>

<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
  <div class="offcanvas-header bg-light">
    <h5 id="offcanvasRightLabel" class="fs-5 m-2">Letters Notifications</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    {% if notifications %}
        {% for notification in notifications %}
           <div class="card">
              <p class="card-header fs-6">
                {% if notification.letter.is_visible %}
                <a href="{% url 'view_user' notification.letter.user.id %}" class="text-decoration-none text-black">
                  <strong>{{ notification.letter.user }}</strong></a> may have written a letter for you...
                {% else %}
                  Someone may have written a letter for you...
                {% endif %}
              </p>
              <div class="card-body">
                <p class="card-title fs-6">{{ notification.letter.message }}</p>
                <p class="card-text"></p>
                <div class="d-flex justify-content-end">
                  <a href="{% url 'letter_notif' notification.letter.id %}"
                     class="btn btn-dark">View Letter</a>
                </div>
              </div>
           </div>
        {% endfor %}
    {% else %}
        </div>
    {% endif %}
  </div>
</div>