{% extends 'base.html' %}
{% block content %}

<h1 class="mt-5 d-flex justify-content-center fs-2">Profile</h1>
<h5 class="mb-5 d-flex justify-content-center fs-6">Letters written by you -&nbsp;<strong> {{ user }}</strong></h5>

{% if letters %}
    {% for letter in letters %}
        {% if forloop.counter0|divisibleby:3 %}
            <div class="row">
        {% endif %}
        <div class="col-lg-4 col-md-6 col-sm-12">
            <a href="{% url 'letter' letter.id %}" class="text-decoration-none">{% include '_partial_letter.html' %} </a>
        </div>
        {% if forloop.counter|divisibleby:3 or forloop.last %}
            </div>
        {% endif %}
    {% endfor %}
{% endif %}

{% endblock %}