{% extends 'base.html' %}
{% block content %}

<h1 class="mt-5 d-flex justify-content-center fs-2">Visit User</h1>
<h5 class="mb-5 d-flex justify-content-center fs-6">Letters written by&nbsp;<strong> {{ user }}</strong></h5>

{% if letters %}
    {% for letter in letters %}
        {% if forloop.counter0|divisibleby:3 %}
            <div class="row">
        {% endif %}
        <div class="col-lg-4 col-md-6 col-sm-12" data-aos="fade-up">
            <a href="{% url 'letter' letter.id %}" class="text-decoration-none">{% include '_partial_letter.html' %} </a>
        </div>
        {% if forloop.counter|divisibleby:3 or forloop.last %}
            </div>
        {% endif %}
    {% endfor %}
{% endif %}

    <div class="pagination mb-5 mt-5">
        {% if letters.has_previous %}
            <a href="?page=1" class="btn btn-secondary m-1">&laquo; First</a>
            <a href="?page={{ letters.previous_page_number }}" class="btn btn-secondary m-1">Previous</a>
        {% endif %}

        <span class="btn btn-dark m-1">
            Page {{ letters.number }} of {{ letters.paginator.num_pages }}
        </span>

        {% if letters.has_next %}
            <a href="?page={{ letters.next_page_number }}" class="btn btn-secondary m-1">Next</a>
            <a href="?page={{ letters.paginator.num_pages }}" class="btn btn-secondary m-1">Last &raquo;</a>
        {% endif %}
    </div>

{% endblock %}