{% extends 'base.html' %}
{% block content %}

<h1>View User</h1>
<h5>Letters written by {{ user }}</h5>

{% if letters %}
    {% for letter in letters %}
        {% if forloop.counter0|divisibleby:3 %}
            <div class="row">
        {% endif %}
        <div class="col-lg-4 col-md-6 col-sm-12">
            <a href="{% url 'letter' letter.id %}" class="text-decoration-none">{% include '_partial_letter.html' %} </a>
        </div>
        {% if forloop.counter|divisibleby:3 or forloop.last %}
            </div>
        {% endif %}
    {% endfor %}
{% endif %}

{% endblock %}