@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.bg-default {
    background-color: black;
    color: white;
}

.bg-light {
    background-color: white;
    color: black;
}

.abc {
    margin: 0.15em;
    font-size: 1.5rem;
    font-family: "Libre Baskerville";
}

.recipient {
    margin-left: 0.25em;
    font-size: 1.8rem;
    font-family: 'Roboto';
}

.bg-transparent {
    background-color: rgba(0,0,0,0) !important;
    border: none !important;
}

.textarea-full {
    font-size: 2.7rem;
    width: 100%;
    height: 100%;
    margin: 0.3em;
    padding-right: 0.5em;
    font-size: 2.9rem;
    font-family: 'Roboto';
    line-height: 1.2em;
}

input:focus, input:focus{
    outline: none;
}

textarea:focus, textarea:focus{
    outline: none;
}

.color-card {
    height: 100%;
    width: 100%;
}

.row-large {
    display: flex;
    justify-content: start;
}

.col-large {
    display: flex;
    justify-content: end; /* Align content to the end of the column */
}

/* Media query for smaller screens */
@media (max-width: 991px) {
    /* Adjust styles for small screens */
    .row-large {
        justify-content: center; /* Center content horizontally */
    }

    .col-large {
        justify-content: center; /* Center content horizontally */
    }
}

.col-colors {
    margin-top: 2em;
}

#message {
    color: white; /* Default text color */
    background-color: black; /* Default background color */
    padding: 10px;
    resize: none;
}

.custom-left {
    margin-right: 20em; /* Adjust the margin to shift the column a few pixels to the left */
}

@media (max-width: 991.98px) { /* Medium screen and below */
    .custom-left {
        margin-right: 0; /* Reset margin for medium and smaller screens */
    }

    .custom-sm-center {
        margin: 0 auto; /* Center the column for medium and smaller screens */
    }
}